body{
	font-family: sans-serif;
	background: #303030;
	width: min-content;
	/*-moz-transform: scale(0.9, 0.8); /* Moz-browsers 
    zoom: 0.8; /* Other non-webkit browsers 
    zoom: 90%; /* Webkit browsers */
}
p{
	color: #D9D9D9;
}
 
h1{
	/*ketebalan font*/

	color: #D9D9D9;
	position: relative;
	left: 480px;
	font-size: 25px;
	font-weight: bold;
}

h2{
	/*ketebalan font*/

	color: #D9D9D9;
	position: relative;
	left: 480px;
	bottom: 40px;
	font-size: 15px;
}

h3{
	font-weight: bold;
	font-size: 35px;
}

h4{
	font-weight: bold;
	font-size: 35px;
}
 
.tulisan_login{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
}

.tulisan_register{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
}
 
.kotak_login{
	width: 350px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;
	box-shadow: 0px 0px 100px 4px #d6d6d6;
}

.tulisan_count_user{
	width: 75px;
	height: 75px;
	position: relative;
	overflow: hidden;
	z-index: 100;
	left: 15%;
	bottom: 65px;
}

.tulisan_count_admin{
	width: 75px;
	height: 75px;
	position: relative;
	overflow: hidden;
	z-index: 100;
	left: 48%;
	bottom: 215px;
}

.tulisan_count_saham{
	width: max-content;
	height: 75px;
	position: relative;
	overflow: hidden;
	z-index: 100;
	left: 80%;
	bottom: 365px;
}
 
label{
	font-size: 11pt;
}
 
.form_login{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
 
.tombol_login{
	background: #2aa7e2;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.tombol_register{
	background: #fe4e1e;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.tombol_logout{
	background: #F27B35;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	position: relative;
}

.tombol_add{
	background: #8E8BFF;
	color: #FFFFFF;
	font-size: 11pt;
	width: relative;
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
	position: relative;
	left: 575px;
	bottom: 60px;
}

.tombol_add_modal{
	background: #8E8BFF;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.search{
	background: #7C7C7C;
	color: #FFFFFF;
	font-size: 11pt;
	width: relative;
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
	position: relative;
	left: 790px;
	top: 21px;
	text-align: left;
}

::placeholder{
	color: white;
}
 
.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}
 
.alert{
	background: #e44e4e;
	color: white;
	padding: 10px;
	text-align: center;
	border:1px solid #b32929;
	position: absolute;
	opacity: 75%;
	left: 570px;
}

.success{
	background: #4ee44e;
	color: white;
	padding: 10px;
	text-align: center;
	border:1px solid #4ee44e;
	position: absolute;
	opacity: 75%;
	left: 570px;
}

.topnav {
	background-color: #404040;
	overflow: hidden;
	position: fixed;
	width: 100%;
  }
  
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
  
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #04AA6D;
	color: white;
}


.logo_user {
	position: absolute;
	right: 12px;
	top: 0px;
  }

.menu{
	position: absolute;
	bottom: 738px;
}

img.rounded {
	object-fit: cover;
	border-radius: 50%;
  }

.logo_u {
	width: 75px;
	height: 75px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	top: 10px;
	left: 5%;

}

.logo_a {
	width: 75px;
	height: 75px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	z-index: 100;
	left: 38%;
	bottom: 140px;
}

.logo_s {
	width: 75px;
	height: 75px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	z-index: 100;
	left: 70%;
	bottom: 290px;
}

.table1 {
	width: 800px;
	height: max-content;
	position: relative;
	bottom: 0px;
	z-index: 1;
	left: 480px;
	background-color: #505050;
	border-radius: 27px;
	color: white;
	float: left;
	table-layout: fixed;
}

.table2 {
	width: 800px;
	height: 90px;
	position: relative;
	bottom: 30px;
	z-index: 1;
	left: 480px;
	background-color: #505050;
	border-radius: 27px;
	color: white;
	float: left;
	table-layout: fixed;
	text-align: center;
}

.table3 {
	width: 800px;
	height: max-content;
	z-index: 1;
	background-color: #404040;
	border-radius: 27px;
	color: white;
	float: left;
	table-layout: fixed;
	padding: 10px;
	padding-left: 20px;
}

.sidenav {
	height: relative;
	width: 380px;
	position: fixed;
	z-index: 1;
	top: 150px;
	left: 30px;
	background-color: #404040;
	overflow-x: hidden;
	padding-top: 20px;
	border-radius: 27px;
  }
  
.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #E7E7E7;
	display: block;
	padding: 15px;
	font-weight: bold;
}
  
.sidenav a:hover {
	color: #F27B35;
}

  
.main {
	margin-left: 160px; /* Same as the width of the sidenav */
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 10px;
}


.topnav input[type=text] {
	float: right;
	padding: 6px;
	border: none;
	margin-top: 8px;
	margin-right: 16px;
	font-size: 17px;
}


.modal-header{
	background-color: #404040;
}

.modal-title{
	color: white;
}

.modal-content{
	padding: 10px;
}
 .time{
	color: white;
	position: fixed;
	background-color: #FFFFFF;
	color: #3B962A;
	border-radius: 15px;
	width: 130px;
	height: max-content;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	left: 1148px;
	top: 60px;
	position: relative;
 }

 .grid-container{
	display: grid;
	grid-template-columns: 308px;
	background-color: #505050;
	padding: 10px;
	column-gap: 10px;
	row-gap: 10px;
	overflow: auto;
}

.grid-item {
	background-color: #404040;
	border: 1px #404040;
	padding: 20px;
	font-size: 15px;
	text-align: left;
  }

td{
	padding-top: 10px;
	padding-bottom: 6px;
	padding-left: 35px;
}

table{
	text-align: left;
	width: 750px;
}

.tombol_add{
	background: #8E8BFF;
	color: #FFFFFF;
	font-size: 11pt;
	width: relative;
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
	position: relative;
	left: 40px;
	bottom: 10px;
}

.tombol_add_modal{
	background: #8E8BFF;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.version{
	position: relative;
	bottom: 245px;
	left: 175px;
}