.grid-container{
	display: grid;
	grid-template-columns: 308px;
	background-color: #505050;
	padding: 10px;
	column-gap: 10px;
	row-gap: 10px;
}

.grid-item {
	background-color: #404040;
	border: 1px #404040;
	padding: 20px;
	font-size: 15px;
	text-align: left;
  }

.kode_saham{
	font-size: 20px;
}

.nama_saham{
	font-size: 10px;
}

.harga{
	font-size: 40px;
	font-weight: bold;
}

table{
	text-align: center;
	width: 630px;
}

th {
	background-color: #F27B35;
	border-radius: 27px 100px;
	padding-left: 10px;
	text-align: center;
}

td{
	padding-bottom: 10px;
}
