body{
	font-family: sans-serif;
	background: #303030;
}
 
h1{
	/*ketebalan font*/

	color: #D9D9D9;
	position: fixed;
	left: 575px;
}
 
.tulisan_login{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
}

.tulisan_register{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
}
 
.kotak_login{
	width: 350px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;
	box-shadow: 0px 0px 100px 4px #d6d6d6;
}
 
label{
	font-size: 11pt;
}
 
.form_login{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
 
.tombol_login{
	background: #2aa7e2;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.tombol_register{
	background: #fe4e1e;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.tombol_logout{
	background: #F27B35;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	position: relative;
}

.tombol_add{
	background: #8E8BFF;
	color: #FFFFFF;
	font-size: 11pt;
	width: relative;
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
	position: relative;
	left: 575px;
	bottom: 45px;
}

.tombol_add_modal{
	background: #8E8BFF;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.search{
	background: #7C7C7C;
	color: #FFFFFF;
	font-size: 11pt;
	width: relative;
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
	position: relative;
	left: 790px;
	top: 16px;
	text-align: left;
}

::placeholder{
	color: white;
}
 
.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}
 
.alert{
	background: #e44e4e;
	color: white;
	padding: 10px;
	text-align: center;
	border:1px solid #b32929;
	position: absolute;
	opacity: 75%;
	left: 570px;
}

.success{
	background: #4ee44e;
	color: white;
	padding: 10px;
	text-align: center;
	border:1px solid #4ee44e;
	position: absolute;
	opacity: 75%;
	left: 570px;
}

.topnav {
	background-color: #404040;
	overflow: hidden;
  }
  
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
  
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #04AA6D;
	color: white;
}

.logo_user {
	position: absolute;
	right: 12px;
	top: 0px;
  }

.menu{
	position: absolute;
	bottom: 738px;
}

.table {
	width: 650px;
	height: min-content;
	position: relative;
	bottom: 35px;
	z-index: 1;
	left: 575px;
	background-color: #404040;
	overflow-x: hidden;
	border-radius: 10px;
	color: white;
  }

.sidenav {
	height: relative;
	width: 380px;
	position: fixed;
	z-index: 1;
	top: 150px;
	left: 30px;
	background-color: #404040;
	overflow-x: hidden;
	padding-top: 20px;
	border-radius: 27px;
  }
  
.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #E7E7E7;
	display: block;
	padding: 15px;
	font-weight: bold;
}
  
.sidenav a:hover {
	color: #F27B35;
}

  
.main {
	margin-left: 160px; /* Same as the width of the sidenav */
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 10px;
}


.topnav input[type=text] {
	float: right;
	padding: 6px;
	border: none;
	margin-top: 8px;
	margin-right: 16px;
	font-size: 17px;
}
  
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}


.modal-header{
	background-color: #404040;
}

.modal-title{
	color: white;
}

.modal-content{
	padding: 10px;
}
