body{
	font-family: sans-serif;
	background: #303030;
	color: #FFFFFF;
	position: relative;
}
 
h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
}
img {
	margin-left: 44%;
	width: 10%;
	position: absolute;
  }
  
.tulisan_login{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
	font-size: 35px;
	font-weight: bold;
}

 
.kotak_login{
	width: 350px;
	background: #404040;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 20px;
	border-radius: 27px;
	position: relative;
}
 
label{
	font-size: 11pt;
}
 
.form_login{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 5px;
	border-radius: 27px;
	color: black;
}
 
.tombol_sell{
	background: #3B962A;
	color: white;
	font-size: 11pt;
	width: 50%;
	border: none;
	border-radius: 27px;
	padding: 10px 20px;
}

 
.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}
 
.alert{
	background: #e44e4e;
	color: white;
	padding: 10px;
	text-align: center;
	border:1px solid #b32929;
}

.success{
	background: #4ee44e;
	color: white;
	padding: 10px;
	text-align: center;
	border:1px solid #4ee44e;
}

.forgot{
	font-size: x-small;
}

a:link {
	color: #8E8BFF;
	background-color: transparent;
	text-decoration: none;
  }
  
a:visited {
	color: #8E8BFF;
	background-color: transparent;
	text-decoration: none;
}

.akun{
	position:relative;
	bottom: 60px;
	font-size: smaller;
}

.lot {
	background: white;
	color: black;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 27px;
	padding: 10px 20px;	
}

.harga {
	background: white;
	color: black;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 27px;
	padding: 10px 20px;
}

img.rounded {
	object-fit: cover;
	border-radius: 50%;
  }