.grid-container{
	display: grid;
	grid-template-columns: 308px 308px;
	background-color: #505050;
	padding: 10px;
	column-gap: 10px;
	row-gap: 10px;
}

.grid-item {
	background-color: #404040;
	border: 1px #404040;
	padding: 20px;
	font-size: 15px;
	text-align: left;
  }

.kode_saham{
	font-size: 20px;
}

.nama_saham{
	font-size: 10px;
}

.harga{
	font-size: 40px;
	font-weight: bold;
}

img.rounded {
	object-fit: cover;
	border-radius: 50%;
  }